     
        <!-- Modal -->
        <div class="modal fade" id="loginModal" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-sm">

                <!-- Modal content-->
                <div class="modal-content ">

                    <div class="modal-body">
                        <div class="container col-xs-12 ">

                            <form class="form-signin " style="margin-left:-22;">
                                <img src="default.png" class="center-block img-responsive" style="top:-10px;width: 60%; height: auto;" />
                                  <div class="col-md-12 form-group has-feedback">
                                    <input type="text" class="form-control has-feedback-left" id="user_name" placeholder="Username">
                                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                  </div>
                                  <div class="col-md-12 form-group has-feedback">
                                    <input type="password" class="form-control has-feedback-left" id="pwd" placeholder="Password">
                                    <span class="fa fa-lock form-control-feedback left" aria-hidden="true"></span>
                                  </div>
                                  
                                <br>
                                <button class="btn btn-lg btn-primary btn-block" type="submit" id="submit" style="border-radius:20px;">Login</button>


                            </form>
                        </div>
                        <br>
                        <i class="align-center" style="position:relative;  margin-left:50px; cursor: pointer" onclick="alert('Contact Admin')"> Forgot your password?</i>
                    </div>
                </div>

            </div>
        </div>

